/* WRAPPER */
.contactSection {
	background: #111;
	color: #f1f1f1;
	padding: 80px 0;
	margin: auto;
	text-align: center;
	font-family: 'Poppins';
}
.contactSection h1 {
	margin-right: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #e9e9e9;
	text-shadow: 1px 1px 1px black;
	border-bottom: 4px solid #e6e6e6; /* linia pod tekstem */
	padding-bottom: 4px; /* odstęp między tekstem a linią */
	display: inline-block; /* żeby linia była tylko pod tekstem, a nie całą szerokość */
}

.contactContainer {
	width: 90%;
	max-width: 1200px;
	margin: 30px auto;
	display: flex;
	gap: 60px;
	align-items: flex-start;
}

/* LEFT SIDE */
.contactLeft {
	flex: 1;
}

.contactForm {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.contactForm input,
.contactForm textarea {
	width: 100%;
	padding: 14px;
	border-radius: 8px;
	border: 1px solid #444;
	background: #1b1b1b;
	color: #f1f1f1;
	font-size: 1rem;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
	color: #777;
}

.contactForm button {
	background: #7247ffd8;
	border: none;
	color: white;
	padding: 14px;
	border-radius: 8px;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'Poppins';
	cursor: pointer;
	transition: 0.3s ease;
}

.contactForm button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}



.contactForm button:hover {
	border: 3px solid #2c8e5a;
	background: white;
	color: #2c8e5a;
}

.altContact {
	margin-top: 25px;
	font-size: 0.95rem;
	color: #ddd;
}

/* RIGHT SIDE */
.contactRight {
	flex: 0.75;
	background: #1a1a1a;
	padding: 30px;
	border-radius: 16px;
}

.infoGrid {
	gap: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.infoCard {
	background: #222;
	padding: 15px;
	border-radius: 12px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	text-decoration: none;
	color: #f1f1f1;
	transition: 0.2s;
	border: 1px solid #333;
}

.infoCard:hover {
	background: #2d2d2d;
	transform: translateY(-3px);
	border: 1px solid #2c8e5a;
}

/* RESPONSIVE */

@media (max-width: 900px) {
	.contactContainer {
		flex-direction: column;
		align-items: stretch;
		gap: 40px;
	}

	.contactRight {
		width: 100%;
	}
}
