.projects {
	display: flex;
	text-align: center;
	padding: 30px 0;
	background-image: url('../assets/ProjectsBackground2.png');
	background-size: 100% 100%;
	font-family: 'Poppins';
}

.projectCards {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 40px;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.projectCard {
	box-sizing: border-box;
}

.projects h1 {
	margin-right: 0;
	margin: 60px auto;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #5a4ee4;
	text-shadow: 1px 1px 1px black;
	border-bottom: 4px solid #4f43d1; /* linia pod tekstem */
	padding-bottom: 4px; /* odstęp między tekstem a linią */
	display: inline-block; /* żeby linia była tylko pod tekstem, a nie całą szerokość */
}

.projectCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 325px;
	min-height: 475px;
	padding: 6px 8px;
	background: #f5f5f5e8;
	border: 1px solid rgba(15, 23, 42, 0.04);
	border-radius: 18px;
	box-shadow: 0 6px 18px rgba(20, 30, 40, 0.08);
	overflow: hidden;
	transition: all 0.3s;
}

.projectCard:hover {
	transform: translateY(20px);
	transform: scale(1.2);
	box-shadow: 0 14px 30px #7247ff57;
	border-color: #7247ffd8;
	z-index: 2;
}

/* .projectCardMedia {
	background: linear-gradient(180deg, #fafbfd 0%, #f6f8fb 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 160px;
} */

.projectCardScreenshot {
	width: 100%;
	height: 180px;
	border: 1px solid rgba(220, 220, 220, 0.874);
	border-radius: 8px;
	object-fit: cover;
	display: block;
	margin-bottom: 14px;
}

.projectCardBody {
	padding: 12px 16px 10px 16px;
}

.projectCardTitle {
	margin: 7px 0;
	font-size: 20px;
	line-height: 1.1;
	color: #0f172a; /* ciemny tekst */
	font-weight: 700;
}

.projectCardTech {
	display: flex;
	justify-content: center;
	margin: 10px 0;
	font-size: 15px;
	color: #475569;
}

.projectCardTechItem {
	font-weight: 600;
	background-color: rgb(194, 255, 205);
	margin: 0px 5px;
	padding: 5px;
	border-radius: 12px;
	display: block;
}

.projectCardDesc {
	margin-top: 15px;
	font-size: 16px;
	color: #334155;
	line-height: 1.4;
	min-height: 44px; /* zachowaj podobną wysokość kart */
}

.projectCardActions {
	display: flex;
	justify-content: flex-end;
	margin: 15px;
}

.projectCardBtn {
	text-decoration: none;
	background: #7247ffd8;
	border: 1px solid rgba(59, 130, 246, 0.12);
	padding: 8px 8px;
	border-radius: 8px;
	font-size: 15px;
	font-weight: 600;
	color: #ededed; /* niebieski */
	cursor: pointer;
}

.projectCardBtn:hover {
	background: rgba(37, 99, 235, 0.06);
}

/* Responsywność */
@media (max-width: 380px) {
	.projectCard {
		width: 100%;
	}
	.projectCardMedia {
		min-height: 120px;
	}
}

@media (max-width: 680px) {
	.projectCards{
		gap: 5px;
	}
	.projects .projectCard {
		width: 300px ;
	}
	.projectCard:hover {

	transform: scale(1.05);

}
	.projectCardMedia {
		min-height: 120px;
	}
}
